In [5]:
import json, requests
import pandas as pd
import numpy as np

In [6]:
url = 'https://vpic.nhtsa.dot.gov/api/vehicles/GetModelsForMake/subaru?format=json';
r = requests.get(url)
subaru = r.json()
subaru = subaru['Results']

In [7]:
subaru = pd.DataFrame(subaru)

In [8]:
print(subaru.head())
print(subaru.info())

   Make_ID Make_Name  Model_ID    Model_Name
0      523    Subaru      2232        Legacy
1      523    Subaru      2233       Outback
2      523    Subaru      2234      Forester
3      523    Subaru      2235       Impreza
4      523    Subaru      2236  XV CrossTrek
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
Make_ID       24 non-null int64
Make_Name     24 non-null object
Model_ID      24 non-null int64
Model_Name    24 non-null object
dtypes: int64(2), object(2)
memory usage: 848.0+ bytes
None

In [9]:
url = 'https://vpic.nhtsa.dot.gov/api/vehicles/GetModelsForMakeYear/make/honda/modelyear/2015?format=json'
r = requests.get(url)
honda_2015 = r.json()
honda_2015 = honda_2015['Results']

In [10]:
honda_2015 = pd.DataFrame(honda_2015)

In [11]:
print(honda_2015.head(10))
print(len(honda_2015))

   Make_ID Make_Name  Model_ID   Model_Name
0      474     Honda      1861       Accord
1      474     Honda      1863        Civic
2      474     Honda      1864        Pilot
3      474     Honda      1865         CR-V
4      474     Honda      1866    Ridgeline
5      474     Honda      1869      Odyssey
6      474     Honda      1875  FCX Clarity
7      474     Honda      2127          Fit
8      474     Honda      2128         CR-Z
9      474     Honda      3235       CB1100
169

In [12]:
url = 'https://vpic.nhtsa.dot.gov/api/vehicles/GetModelsForMakeIdYear/makeId/474/modelyear/2015/vehicleType/passenger?format=json'
r = requests.get(url)
honda_passenger = r.json()
honda_passenger = honda_passenger['Results']

In [13]:
honda_passenger =pd.DataFrame(honda_passenger)

In [14]:
print(honda_passenger)
print('There were ' + str(len(honda_passenger)) + ' Honda Passenger cars in 2015')

   Make_ID Make_Name  Model_ID   Model_Name  VehicleTypeId  \
0      474     Honda      1861       Accord              2
1      474     Honda      1863        Civic              2
2      474     Honda      1864        Pilot              7
3      474     Honda      1865         CR-V              7
4      474     Honda      1869      Odyssey              7
5      474     Honda      1875  FCX Clarity              2
6      474     Honda      2127          Fit              2
7      474     Honda      2128         CR-Z              2
8      474     Honda      9173    Crosstour              7

                        VehicleTypeName
0                         Passenger Car
1                         Passenger Car
2  Multipurpose Passenger Vehicle (MPV)
3  Multipurpose Passenger Vehicle (MPV)
4  Multipurpose Passenger Vehicle (MPV)
5                         Passenger Car
6                         Passenger Car
7                         Passenger Car
8  Multipurpose Passenger Vehicle (MPV)
There were 9 Honda Passenger cars in 2015

In [15]:
url = 'https://vpic.nhtsa.dot.gov/api/vehicles/GetModelsForMakeIdYear/makeId/474/modelyear/2015/vehicleType/truck?format=json'
r = requests.get(url)
honda_truck = r.json()
honda_truck = honda_truck['Results']

In [16]:
honda_truck = pd.DataFrame(honda_truck)
print(honda_truck.head())
print(len(honda_truck))

   Make_ID Make_Name  Model_ID Model_Name  VehicleTypeId VehicleTypeName
0      474     Honda      1866  Ridgeline              3          Truck
1

In [17]:
url = 'https://vpic.nhtsa.dot.gov/api/vehicles/GetModelsForMakeIdYear/makeId/474/modelyear/2015/vehicleType/motorcycle?format=json'
r = requests.get(url)
honda_motorcycle = r.json()
honda_motorcycle = honda_motorcycle['Results']

In [18]:
honda_motorcycle = pd.DataFrame(honda_motorcycle)
print(honda_motorcycle.head())

   Make_ID Make_Name  Model_ID Model_Name  VehicleTypeId VehicleTypeName
0      474     Honda      3235     CB1100              1      Motorcycle
1      474     Honda      3236     CB300F              1      Motorcycle
2      474     Honda      3237     CB500F              1      Motorcycle
3      474     Honda      3238     CB500X              1      Motorcycle
4      474     Honda      3240    CBR300R              1      Motorcycle

In [19]:
len(honda_motorcycle)

158

In [20]:
url = 'https://vpic.nhtsa.dot.gov/api/vehicles/GetModelsForMakeIdYear/makeId/474/modelyear/2015/vehicleType/low?format=json'
r = requests.get(url)
honda_lsv = r.json()
honda_lsv = honda_lsv['Results']

In [21]:
honda_lsv = pd.DataFrame(honda_lsv)
print(honda_lsv.head())
print(len(honda_lsv))

   Make_ID Make_Name  Model_ID              Model_Name  VehicleTypeId  \
0      474     Honda     14008  Honda Utility Vehicle               9

           VehicleTypeName
0  Low Speed Vehicle (LSV)
1

In [22]:
all_hondas = pd.concat([honda_passenger, honda_truck, honda_motorcycle, honda_lsv])

In [23]:
all_hondas.sort_values('Model_ID', inplace=True)

In [24]:
all_hondas.head()

,Make_ID,Make_Name,Model_ID,Model_Name,VehicleTypeId,VehicleTypeName
0,474,Honda,1861,Accord,2,Passenger Car
1,474,Honda,1863,Civic,2,Passenger Car
2,474,Honda,1864,Pilot,7,Multipurpose Passenger Vehicle (MPV)
3,474,Honda,1865,CR-V,7,Multipurpose Passenger Vehicle (MPV)
0,474,Honda,1866,Ridgeline,3,Truck

In [25]:
#Function to return a json object from the nhtsa api
def get_api_data(url):
    r = requests.get(url)
    data = r.json()
    data = data['Results']
    return data

In [26]:
url = 'https://vpic.nhtsa.dot.gov/api/vehicles/GetVehicleTypesForMake/mercedes?format=json'
mercedes = get_api_data(url)

In [27]:
mercedes

[{'MakeId': 449,
  'MakeName': 'Mercedes-Benz',
  'VehicleTypeId': 2,
  'VehicleTypeName': 'Passenger Car'},
 {'MakeId': 449,
  'MakeName': 'Mercedes-Benz',
  'VehicleTypeId': 3,
  'VehicleTypeName': 'Truck '},
 {'MakeId': 449,
  'MakeName': 'Mercedes-Benz',
  'VehicleTypeId': 5,
  'VehicleTypeName': 'Bus'},
 {'MakeId': 449,
  'MakeName': 'Mercedes-Benz',
  'VehicleTypeId': 7,
  'VehicleTypeName': 'Multipurpose Passenger Vehicle (MPV)'},
 {'MakeId': 449,
  'MakeName': 'Mercedes-Benz',
  'VehicleTypeId': 10,
  'VehicleTypeName': 'Incomplete Vehicle'}]

In [28]:
vin_numbers = ['JN8AZ1MW9EW500262;5FNRL5H61FB054227;1J4BA5H13BL619297;4M2DU55PXVUJ38891;JHMZE2H32CS006277']

In [29]:
url = 'https://vpic.nhtsa.dot.gov/api/vehicles/DecodeVINValuesBatch/'
post_fields = {'format': 'json', 'data':vin_numbers}
r = requests.post(url, data=post_fields)
r = r.json()

In [30]:
print(json.dumps(r['Results'][0], indent = 4, sort_keys = True))

{
    "ABS": "Standard",
    "ActiveSafetySysNote": "",
    "AdaptiveCruiseControl": "",
    "AdaptiveDrivingBeam": "",
    "AdaptiveHeadlights": "",
    "AdditionalErrorText": "",
    "AirBagLocCurtain": "1st & 2nd Rows",
    "AirBagLocFront": "1st Row (Driver & Passenger)",
    "AirBagLocKnee": "",
    "AirBagLocSeatCushion": "",
    "AirBagLocSide": "1st Row (Driver & Passenger)",
    "AutoReverseSystem": "",
    "AutomaticPedestrianAlertingSound": "",
    "AxleConfiguration": "",
    "Axles": "",
    "BasePrice": "",
    "BatteryA": "",
    "BatteryA_to": "",
    "BatteryCells": "",
    "BatteryInfo": "",
    "BatteryKWh": "",
    "BatteryKWh_to": "",
    "BatteryModules": "",
    "BatteryPacks": "",
    "BatteryType": "",
    "BatteryV": "",
    "BatteryV_to": "",
    "BedLengthIN": "",
    "BedType": "",
    "BlindSpotMon": "",
    "BodyCabType": "",
    "BodyClass": "Wagon",
    "BrakeSystemDesc": "",
    "BrakeSystemType": "",
    "BusFloorConfigType": "",
    "BusLength": "",
    "BusType": "",
    "CAN_AACN": "",
    "CIB": "",
    "CashForClunkers": "",
    "ChargerLevel": "",
    "ChargerPowerKW": "",
    "CoolingType": "",
    "CurbWeightLB": "",
    "CustomMotorcycleType": "",
    "DaytimeRunningLight": "",
    "DestinationMarket": "",
    "DisplacementCC": "3500.0",
    "DisplacementCI": "213.58310433156",
    "DisplacementL": "3.5",
    "Doors": "4",
    "DriveType": "4WD/4-Wheel Drive/4x4",
    "DriverAssist": "",
    "DynamicBrakeSupport": "",
    "EDR": "",
    "ESC": "",
    "EVDriveUnit": "",
    "ElectrificationLevel": "",
    "EngineConfiguration": "",
    "EngineCycles": "",
    "EngineCylinders": "",
    "EngineHP": "",
    "EngineHP_to": "",
    "EngineKW": "",
    "EngineManufacturer": "",
    "EngineModel": "",
    "EntertainmentSystem": "",
    "ErrorCode": "0",
    "ErrorText": "0 - VIN decoded clean. Check Digit (9th position) is correct",
    "ForwardCollisionWarning": "",
    "FuelInjectionType": "",
    "FuelTypePrimary": "Gasoline",
    "FuelTypeSecondary": "",
    "GCWR": "",
    "GCWR_to": "",
    "GVWR": "Class 1D: 5,001 - 6,000 lb (2,268 - 2,722 kg)",
    "GVWR_to": "",
    "KeylessIgnition": "",
    "LaneDepartureWarning": "",
    "LaneKeepSystem": "",
    "LowerBeamHeadlampLightSource": "",
    "Make": "NISSAN",
    "Manufacturer": "NISSAN MOTOR COMPANY, LTD",
    "ManufacturerId": "996",
    "Model": "Murano",
    "ModelYear": "2014",
    "MotorcycleChassisType": "",
    "MotorcycleSuspensionType": "",
    "NCSABodyType": "",
    "NCSAMake": "",
    "NCSAMapExcApprovedBy": "",
    "NCSAMapExcApprovedOn": "",
    "NCSAMappingException": "",
    "NCSAModel": "",
    "NCSANote": "",
    "Note": "",
    "OtherBusInfo": "",
    "OtherEngineInfo": "",
    "OtherMotorcycleInfo": "",
    "OtherRestraintSystemInfo": "2nd row outboard 2-point manual belts, 2nd row outboard 3-point manual belts, 2nd row center 3-point manual belts",
    "OtherTrailerInfo": "",
    "ParkAssist": "",
    "PedestrianAutomaticEmergencyBraking": "",
    "PlantCity": "",
    "PlantCompanyName": "Kyushu Plant",
    "PlantCountry": "JAPAN",
    "PlantState": "",
    "PossibleValues": "",
    "Pretensioner": "",
    "RearCrossTrafficAlert": "",
    "RearVisibilitySystem": "",
    "SAEAutomationLevel": "",
    "SAEAutomationLevel_to": "",
    "SeatBeltsAll": "Manual",
    "SeatRows": "",
    "Seats": "",
    "SemiautomaticHeadlampBeamSwitching": "",
    "Series": "Crossover",
    "Series2": "",
    "SteeringLocation": "",
    "SuggestedVIN": "",
    "TPMS": "Direct",
    "TopSpeedMPH": "",
    "TrackWidth": "",
    "TractionControl": "",
    "TrailerBodyType": "",
    "TrailerLength": "",
    "TrailerType": "",
    "TransmissionSpeeds": "",
    "TransmissionStyle": "",
    "Trim": "",
    "Trim2": "",
    "Turbo": "",
    "VIN": "JN8AZ1MW9EW500262",
    "ValveTrainDesign": "",
    "VehicleType": "MULTIPURPOSE PASSENGER VEHICLE (MPV)",
    "WheelBaseLong": "",
    "WheelBaseShort": "",
    "WheelBaseType": "",
    "WheelSizeFront": "",
    "WheelSizeRear": "",
    "Wheels": "4",
    "Windows": ""
}

In [31]:
data = r['Results']
data = pd.DataFrame(data)

In [32]:
data.head()

,ABS,ActiveSafetySysNote,AdaptiveCruiseControl,AdaptiveDrivingBeam,AdaptiveHeadlights,AdditionalErrorText,AirBagLocCurtain,AirBagLocFront,AirBagLocKnee,AirBagLocSeatCushion,...,VIN,ValveTrainDesign,VehicleType,WheelBaseLong,WheelBaseShort,WheelBaseType,WheelSizeFront,WheelSizeRear,Wheels,Windows
0,Standard,,,,,,1st & 2nd Rows,1st Row (Driver & Passenger),,,...,JN8AZ1MW9EW500262,,MULTIPURPOSE PASSENGER VEHICLE (MPV),,,,,,4,
1,,,,,,,1st & 2nd & 3rd Rows,1st Row (Driver & Passenger),,,...,5FNRL5H61FB054227,Single Overhead Cam (SOHC),MULTIPURPOSE PASSENGER VEHICLE (MPV),,,,,,,
2,,,,,,,,1st Row (Driver & Passenger),,,...,1J4BA5H13BL619297,,MULTIPURPOSE PASSENGER VEHICLE (MPV),,,,,,,
3,,,,,,,,1st Row (Driver & Passenger),,,...,4M2DU55PXVUJ38891,,MULTIPURPOSE PASSENGER VEHICLE (MPV),,,,,,,
4,,,,,,,1st & 2nd Rows,1st Row (Driver & Passenger),,,...,JHMZE2H32CS006277,Single Overhead Cam (SOHC),PASSENGER CAR,,,,,,,

In [33]:
data = data.transpose()
data.head()

                              0 1 2 3 4
ABS                    Standard
ActiveSafetySysNote
AdaptiveCruiseControl
AdaptiveDrivingBeam
AdaptiveHeadlights

In [34]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 143 entries, ABS to Windows
Data columns (total 5 columns):
0    143 non-null object
1    143 non-null object
2    143 non-null object
3    143 non-null object
4    143 non-null object
dtypes: object(5)
memory usage: 11.7+ KB
None

In [35]:
data.columns = (data.loc['Make'] + ' ' + data.loc['Model'])

In [36]:
data.head()

,NISSAN Murano,HONDA Odyssey,JEEP Wrangler,MERCURY Mountaineer,HONDA Insight
ABS,Standard,,,,
ActiveSafetySysNote,,,,,
AdaptiveCruiseControl,,,,,
AdaptiveDrivingBeam,,,,,
AdaptiveHeadlights,,,,,

In [37]:
data.columns = (data.loc['Make'].str.capitalize() + ' ' + data.loc['Model'])
data.head()

,Nissan Murano,Honda Odyssey,Jeep Wrangler,Mercury Mountaineer,Honda Insight
ABS,Standard,,,,
ActiveSafetySysNote,,,,,
AdaptiveCruiseControl,,,,,
AdaptiveDrivingBeam,,,,,
AdaptiveHeadlights,,,,,

In [38]:
data.isnull().sum()

Nissan Murano          0
Honda Odyssey          0
Jeep Wrangler          0
Mercury Mountaineer    0
Honda Insight          0
dtype: int64

In [39]:
data.replace('', np.NaN, inplace=True)

In [40]:
print(data.isnull().sum())
print(len(data))

Nissan Murano          115
Honda Odyssey          109
Jeep Wrangler          111
Mercury Mountaineer    114
Honda Insight          110
dtype: int64
143

In [41]:
data.dropna(axis=0, how='all', inplace = True)
data.head()

,Nissan Murano,Honda Odyssey,Jeep Wrangler,Mercury Mountaineer,Honda Insight
ABS,Standard,NaN,NaN,NaN,NaN
AirBagLocCurtain,1st & 2nd Rows,1st & 2nd & 3rd Rows,NaN,NaN,1st & 2nd Rows
AirBagLocFront,1st Row (Driver & Passenger),1st Row (Driver & Passenger),1st Row (Driver & Passenger),1st Row (Driver & Passenger),1st Row (Driver & Passenger)
AirBagLocSide,1st Row (Driver & Passenger),1st Row (Driver & Passenger),NaN,NaN,1st Row (Driver & Passenger)
BodyClass,Wagon,Minivan,Sport Utility Vehicle (SUV)/Multi Purpose Vehi...,Sport Utility Vehicle (SUV)/Multi Purpose Vehi...,Hatchback/Liftback/Notchback

In [42]:
print(data.shape)
print(data.info())

(49, 5)
<class 'pandas.core.frame.DataFrame'>
Index: 49 entries, ABS to Wheels
Data columns (total 5 columns):
Nissan Murano          28 non-null object
Honda Odyssey          34 non-null object
Jeep Wrangler          32 non-null object
Mercury Mountaineer    29 non-null object
Honda Insight          33 non-null object
dtypes: object(5)
memory usage: 2.3+ KB
None

In [43]:
data

,Nissan Murano,Honda Odyssey,Jeep Wrangler,Mercury Mountaineer,Honda Insight
ABS,Standard,NaN,NaN,NaN,NaN
AirBagLocCurtain,1st & 2nd Rows,1st & 2nd & 3rd Rows,NaN,NaN,1st & 2nd Rows
AirBagLocFront,1st Row (Driver & Passenger),1st Row (Driver & Passenger),1st Row (Driver & Passenger),1st Row (Driver & Passenger),1st Row (Driver & Passenger)
AirBagLocSide,1st Row (Driver & Passenger),1st Row (Driver & Passenger),NaN,NaN,1st Row (Driver & Passenger)
BodyClass,Wagon,Minivan,Sport Utility Vehicle (SUV)/Multi Purpose Vehi...,Sport Utility Vehicle (SUV)/Multi Purpose Vehi...,Hatchback/Liftback/Notchback
BrakeSystemType,NaN,NaN,Hydraulic,Hydraulic,NaN
DestinationMarket,NaN,NaN,"U.S., Canada, Mexico, Other Export Market (BUX)",NaN,NaN
DisplacementCC,3500.0,3474.057568,3800.0,4948.893328,1343.739248
DisplacementCI,213.58310433156,212,231.89022755998,302,82
DisplacementL,3.5,3.474057568,3.8,5.0,1.343739248
Doors,4,5,4,4,5
DriveType,4WD/4-Wheel Drive/4x4,NaN,4WD/4-Wheel Drive/4x4,AWD/All Wheel Drive,NaN
EngineConfiguration,NaN,V-Shaped,NaN,V-Shaped,In-Line
EngineCylinders,NaN,6,6,8,4
EngineHP,NaN,248,NaN,211,88
EngineKW,NaN,184.9336,NaN,157.3427,65.6216
EngineManufacturer,NaN,NaN,NaN,Ford,NaN
EngineModel,NaN,J35Z8,NaN,NaN,LDA3
ErrorCode,0,0,0,0,0
ErrorText,0 - VIN decoded clean. Check Digit (9th positi...,0 - VIN decoded clean. Check Digit (9th positi...,0 - VIN decoded clean. Check Digit (9th positi...,0 - VIN decoded clean. Check Digit (9th positi...,0 - VIN decoded clean. Check Digit (9th positi...
FuelTypePrimary,Gasoline,Gasoline,Gasoline,Gasoline,Gasoline
FuelTypeSecondary,NaN,NaN,NaN,NaN,Electric
GVWR,"Class 1D: 5,001 - 6,000 lb (2,268 - 2,722 kg)","Class 2E: 6,001 - 7,000 lb (2,722 - 3,175 kg)","Class 1D: 5,001 - 6,000 lb (2,268 - 2,722 kg)","Class 1D: 5,001 - 6,000 lb (2,268 - 2,722 kg)","Class 1B: 3,001 - 4,000 lb (1,360 - 1,814 kg)"
Make,NISSAN,HONDA,JEEP,MERCURY,HONDA
Manufacturer,"NISSAN MOTOR COMPANY, LTD","HONDA MFG., ALABAMA., LLC.",FCA US LLC,"FORD MOTOR COMPANY, USA","HONDA MOTOR CO., LTD"
ManufacturerId,996,989,994,976,987
Model,Murano,Odyssey,Wrangler,Mountaineer,Insight
ModelYear,2014,2015,2011,1997,2012
Note,NaN,NaN,Extended Open Body,NaN,NaN
OtherEngineInfo,NaN,NaN,Sales Code for Engine - EGT,EFI: Electronic Fuel Injection,NaN
OtherRestraintSystemInfo,"2nd row outboard 2-point manual belts, 2nd row...","seat belts: front, mid right/left/center, rear",NaN,NaN,"seat belts: front, rear, rear center"
PlantCity,NaN,LINCOLN,NaN,LOUISVILLE,SUZUKA
PlantCompanyName,Kyushu Plant,NaN,Toledo South Assembly,NaN,NaN
PlantCountry,JAPAN,UNITED STATES (USA),NaN,UNITED STATES (USA),JAPAN
PlantState,NaN,ALABAMA,NaN,KENTUCKY,MIE
Pretensioner,NaN,NaN,Yes,NaN,NaN
SeatBeltsAll,Manual,Manual,Manual,Manual,Manual
Series,Crossover,EXL/EXL-N/EXL-R,JK,NaN,NaN
Series2,NaN,NaN,P (Premium),NaN,NaN
SteeringLocation,NaN,NaN,Left Hand Drive (LHD),NaN,NaN
TPMS,Direct,Direct,Direct,NaN,Direct
TransmissionSpeeds,NaN,6,NaN,NaN,NaN
TransmissionStyle,NaN,Automatic,NaN,NaN,Continuously Variable Transmission (CVT)
Trim,NaN,NaN,Sahara/Unlimited Sahara,NaN,NaN
Turbo,NaN,NaN,No,NaN,NaN
VIN,JN8AZ1MW9EW500262,5FNRL5H61FB054227,1J4BA5H13BL619297,4M2DU55PXVUJ38891,JHMZE2H32CS006277
ValveTrainDesign,NaN,Single Overhead Cam (SOHC),NaN,NaN,Single Overhead Cam (SOHC)
VehicleType,MULTIPURPOSE PASSENGER VEHICLE (MPV),MULTIPURPOSE PASSENGER VEHICLE (MPV),MULTIPURPOSE PASSENGER VEHICLE (MPV),MULTIPURPOSE PASSENGER VEHICLE (MPV),PASSENGER CAR
Wheels,4,NaN,NaN,NaN,NaN

In [44]:
data.loc[['ModelYear', 'GVWR', 'FuelTypePrimary', 'FuelTypeSecondary', 'BodyClass']]

,Nissan Murano,Honda Odyssey,Jeep Wrangler,Mercury Mountaineer,Honda Insight
ModelYear,2014,2015,2011,1997,2012
GVWR,"Class 1D: 5,001 - 6,000 lb (2,268 - 2,722 kg)","Class 2E: 6,001 - 7,000 lb (2,722 - 3,175 kg)","Class 1D: 5,001 - 6,000 lb (2,268 - 2,722 kg)","Class 1D: 5,001 - 6,000 lb (2,268 - 2,722 kg)","Class 1B: 3,001 - 4,000 lb (1,360 - 1,814 kg)"
FuelTypePrimary,Gasoline,Gasoline,Gasoline,Gasoline,Gasoline
FuelTypeSecondary,NaN,NaN,NaN,NaN,Electric
BodyClass,Wagon,Minivan,Sport Utility Vehicle (SUV)/Multi Purpose Vehi...,Sport Utility Vehicle (SUV)/Multi Purpose Vehi...,Hatchback/Liftback/Notchback

In [54]:
url = 'https://vpic.nhtsa.dot.gov/api/vehicles/getmodelsformake/honda?format=json'
hondas = get_api_data(url)
hondas = pd.DataFrame(hondas)

In [57]:
print(hondas.head(10))
print(len(hondas))

   Make_ID Make_Name  Model_ID   Model_Name
0      474     Honda      1861       Accord
1      474     Honda      1863        Civic
2      474     Honda      1864        Pilot
3      474     Honda      1865         CR-V
4      474     Honda      1866    Ridgeline
5      474     Honda      1868      Element
6      474     Honda      1869      Odyssey
7      474     Honda      1870      Insight
8      474     Honda      1875  FCX Clarity
9      474     Honda      1934           GL
827

In [58]:
url = 'https://vpic.nhtsa.dot.gov/api/vehicles/getmodelsformake/mercedes?format=json'
mercedes = get_api_data(url)
mercedes = pd.DataFrame(mercedes)
print(mercedes.head(10))
print(len(mercedes))

   Make_ID      Make_Name  Model_ID Model_Name
0      449  Mercedes-Benz      1703   Sprinter
1      449  Mercedes-Benz      2079   SL-Class
2      449  Mercedes-Benz      2080  SLK-Class
3      449  Mercedes-Benz      2081    E-Class
4      449  Mercedes-Benz      2082  CLS-Class
5      449  Mercedes-Benz      2083  CLA-Class
6      449  Mercedes-Benz      2084  GLA-Class
7      449  Mercedes-Benz      2085    C-Class
8      449  Mercedes-Benz      2086    S-Class
9      449  Mercedes-Benz      2087  SLS-Class
52

In [59]:
url = 'https://vpic.nhtsa.dot.gov/api/vehicles/getmodelsformake/toyota?format=json'
toyota = get_api_data(url)
toyota = pd.DataFrame(toyota)
print(toyota.head())
print(len(toyota))

   Make_ID Make_Name  Model_ID Model_Name
0      448    Toyota      2206   SCION xA
1      448    Toyota      2207   SCION tC
2      448    Toyota      2208    Corolla
3      448    Toyota      2209      PRIUS
4      448    Toyota      2210   SCION xB
53

In [61]:
all_cars = pd.concat([hondas, mercedes, toyota])
print(all_cars.sample(10))

     Make_ID Make_Name  Model_ID                   Model_Name
187      474     Honda     11649               CB500XA-CB500X
628      474     Honda     12503                VTX1800C1/VTX
658      474     Honda     12540                    VFR1200XD
284      474     Honda     11790            VT750C2BE/PHANTOM
754      474     Honda     14802                      CMX250C
734      474     Honda     13458    SXS1000M5V/Pioneer 1000-5
745      474     Honda     14793                       SE50PH
148      474     Honda     10613                      CRF450R
365      474     Honda     11948  TRX420FPM/FOUR TRAX RANCHER
189      474     Honda     11651           NC700XD-NC700X DCT

In [62]:
print(all_cars.head())
print(all_cars.tail())

   Make_ID Make_Name  Model_ID Model_Name
0      474     Honda      1861     Accord
1      474     Honda      1863      Civic
2      474     Honda      1864      Pilot
3      474     Honda      1865       CR-V
4      474     Honda      1866  Ridgeline
    Make_ID Make_Name  Model_ID    Model_Name
48      448    Toyota     15800    COROLLA iM
49      448    Toyota     17213          C-HR
50      448    Toyota     17620  CAMRY HYBRID
51      448    Toyota     21950   Prius Prime
52      448    Toyota     24949      Yaris iA

In [65]:
all_cars.reset_index(inplace = True, drop = True)
print(all_cars.tail())

     index  Make_ID Make_Name  Model_ID    Model_Name
927     48      448    Toyota     15800    COROLLA iM
928     49      448    Toyota     17213          C-HR
929     50      448    Toyota     17620  CAMRY HYBRID
930     51      448    Toyota     21950   Prius Prime
931     52      448    Toyota     24949      Yaris iA

In [66]:
print(all_cars.head())
print(len(all_cars))

   index  Make_ID Make_Name  Model_ID Model_Name
0      0      474     Honda      1861     Accord
1      1      474     Honda      1863      Civic
2      2      474     Honda      1864      Pilot
3      3      474     Honda      1865       CR-V
4      4      474     Honda      1866  Ridgeline
932

In [68]:
all_cars.drop(columns = ['index'], inplace = True)
all_cars.head()

   Make_ID Make_Name  Model_ID Model_Name
0      474     Honda      1861     Accord
1      474     Honda      1863      Civic
2      474     Honda      1864      Pilot
3      474     Honda      1865       CR-V
4      474     Honda      1866  Ridgeline

In [72]:
all_cars.sort_values(['Make_ID', 'Model_ID'], ascending = [True, True], inplace=True)
print(all_cars.head())

     Make_ID Make_Name  Model_ID Model_Name
879      448    Toyota      2206   SCION xA
880      448    Toyota      2207   SCION tC
881      448    Toyota      2208    Corolla
882      448    Toyota      2209      PRIUS
883      448    Toyota      2210   SCION xB

In [75]:
all_cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 932 entries, 879 to 787
Data columns (total 4 columns):
Make_ID       932 non-null int64
Make_Name     932 non-null object
Model_ID      932 non-null int64
Model_Name    932 non-null object
dtypes: int64(2), object(2)
memory usage: 36.4+ KB

In [78]:
import re

In [79]:
all_cars.loc[(all_cars['Make_Name'] == 'Mercedes-Benz') & (all_cars['Model_Name'].str.contains('Class'))]

     Make_ID      Make_Name  Model_ID Model_Name
828      449  Mercedes-Benz      2079   SL-Class
829      449  Mercedes-Benz      2080  SLK-Class
830      449  Mercedes-Benz      2081    E-Class
831      449  Mercedes-Benz      2082  CLS-Class
832      449  Mercedes-Benz      2083  CLA-Class
833      449  Mercedes-Benz      2084  GLA-Class
834      449  Mercedes-Benz      2085    C-Class
835      449  Mercedes-Benz      2086    S-Class
836      449  Mercedes-Benz      2087  SLS-Class
837      449  Mercedes-Benz      2113    B-Class
838      449  Mercedes-Benz      2129    M-Class
839      449  Mercedes-Benz      2130   GL-Class
840      449  Mercedes-Benz      2131    G-Class
841      449  Mercedes-Benz      2132  GLK-Class
842      449  Mercedes-Benz      2678   CL-Class
843      449  Mercedes-Benz      2822  CLK-Class
845      449  Mercedes-Benz      2939    R-Class
847      449  Mercedes-Benz      5885  GLC-Class
848      449  Mercedes-Benz      5886  GLE-Class
850      449  Mercedes-Benz     11452  SLC-Class
851      449  Mercedes-Benz     13819   ML-Class
852      449  Mercedes-Benz     14005  GLS-Class
878      449  Mercedes-Benz     24879    A-Class

In [140]:
print(all_cars.loc[all_cars['Model_ID'].between(2130, 13800)])
print(len(all_cars.loc[all_cars['Model_ID'].between(2001, 13819), :]))

     Make_ID Make_Name  Model_ID                     Model_Name
879      448    Toyota      2206                       SCION xA
880      448    Toyota      2207                       SCION tC
881      448    Toyota      2208                        Corolla
882      448    Toyota      2209                          PRIUS
883      448    Toyota      2210                       SCION xB
884      448    Toyota      2211                   LAND CRUISER
885      448    Toyota      2213                     Highlander
886      448    Toyota      2216                       4-Runner
887      448    Toyota      2217                           RAV4
888      448    Toyota      2223                         Tacoma
889      448    Toyota      2315                     Scion FR-S
890      448    Toyota      2463                     FJ Cruiser
891      448    Toyota      2464                          Yaris
892      448    Toyota      2465                         Avalon
893      448    Toyota      2466                 Corolla Matrix
894      448    Toyota      2467                         Tundra
895      448    Toyota      2468                         Sienna
896      448    Toyota      2469                          Camry
897      448    Toyota      2803                         Solara
898      448    Toyota      2827                        Sequoia
899      448    Toyota      2933                       SCION xD
900      448    Toyota      3005                          Venza
901      448    Toyota      3155                       FCHV-adv
902      448    Toyota      3644                         Tercel
903      448    Toyota      3645                         Celica
904      448    Toyota      3647                          Supra
905      448    Toyota      3648                            MR2
906      448    Toyota      3649                          Paseo
907      448    Toyota      3650                           Echo
908      448    Toyota      3655                       Cressida
..       ...       ...       ...                            ...
705      474     Honda     12653                 CMX250C2/REBEL
706      474     Honda     12654                  VF750C2/MAGNA
707      474     Honda     12658    GL1500A/GOLD WING ASPENCADE
708      474     Honda     12661                       CBR600F4
709      474     Honda     12662            VT1100C2/SHADOW ACE
710      474     Honda     12663                           Z50R
711      474     Honda     12664            PC800/PACIFIC COAST
712      474     Honda     12671                          XR200
713      474     Honda     12709                        GL1500i
714      474     Honda     12710                           EZ90
715      474     Honda     12722                   RVF750R/RC45
716      474     Honda     12839                       TRX400FG
717      474     Honda     12840                       TRX420FE
718      474     Honda     13340             VTX1300RL/VTX1300R
719      474     Honda     13440           TRX500FE2/FOREMAN ES
720      474     Honda     13441              TRX500FM1/FOREMAN
721      474     Honda     13443         TRX500FM5/ RUBICON IRS
722      474     Honda     13444   TRX500FM7/ FourTrax Foreman
723      474     Honda     13445      TRX500FM7/ Rubicon Deluxe
724      474     Honda     13446         TRX500FA7/ Rubicon DCT
725      474     Honda     13447  TRX500FA7/ Rubicon DCT Deluxe
726      474     Honda     13450                     Cota 300RR
727      474     Honda     13451         SXS700M4/PIONEER 700-4
728      474     Honda     13452        SXS700M4C/PIONEER 700-4
729      474     Honda     13453          SXS700M2C/PIONEER 700
730      474     Honda     13454          SXS500M2C/PIONEER 500
731      474     Honda     13455      SXS1000M3P/Pioneer 1000-3
732      474     Honda     13456      SXS1000M5D/Pioneer 1000-5
733      474     Honda     13457      SXS1000M5P/Pioneer 1000-5
734      474     Honda     13458      SXS1000M5V/Pioneer 1000-5

[775 rows x 4 columns]
789